#grp-content {
    top: 135px;
}
    
#grp-user-tools > li.grp-user-options-container {
    width: 150px;
}    

div.grp-readonly {
    border: none;
    font-weight: normal;
}

table.grp-table td a.add-another, table.grp-table th a.add-another {
    top: 0;    
}

#updatestatus > a{
    color: #000;
    background-color: #ff2020;
    border-radius: 25px;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.85;
  }
}
