#grp-content {
    top: 40px;
}

#grp-user-tools > li.grp-user-options-container {
    width: 130px;
}

div.grp-readonly {
    border: none;
    font-weight: normal;
}

table.grp-table td a.add-another, table.grp-table th a.add-another {
    top: 0;
}

/* Fix some mass_update pages (already ok on others) */
caption, th, td {
    vertical-align: top;
}
